/* Variables */
:root {
    --primary-color: #7A288A;
    --secondary-color: #c3eaf4;
    --background-color: linear-gradient(to bottom, #87CEEB, #6495ED);
    --font-family: Arial, Helvetica, sans-serif;
    --font-size: 1rem;
  }
  
  /* Reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Body */
  body {
    background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');
    background-size: cover;
    background-position: center;
    font-family: var(--font-family);
    height: 100vh;
  }
  
  /* Weather App */
  .weather-app {
    background-color: white;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Search Form */
  .search-form {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    font-size: var(--font-size);
    height: 3.5rem;
  }
  
  .search-btn {
    background-color: var(--primary-color);
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .search-btn:hover {
    background-color: #6c227a;
  }
  
  /* City Date Section */
  .city-date-section {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .city-date-section .city {
    font-size: 2rem;
    opacity: 0.9;
  }
  
  .city-date-section .date {
    background-color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 15px;
  }
  
  /* Temperature Info */
  .temperature-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .temperature-info .temp {
    font-size: 10rem;
  }
  
  .temperature-info .description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .temperature-info .description i {
    font-size: 1.5rem;
    opacity: 0.8;
  }
  
  .temperature-info .description span {
    font-size: 1.5rem;
  }
  
  /* Additional Info */
  .additional-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .wind-info,
  .humidity-info,
  .visibility-info {
    background-color: #ecf0f1;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }